.main-community {
    @include extensive-content;
}

.txt-community-nopost {
    @include absolute-center;
}

.container-newpost-selectbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: $padding;

    .txt-postinfo {
        margin: 0;
    }
}

.container-button-create-refresh {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    .link-create,
    .button-refresh {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        padding: 10px;
    }

    .link-create {
        border: 1px solid $border-color;
        text-align: center;
    }
}

.wrapper-posts {
    > li {
        margin-bottom: 10px;
        border: 1px solid $border-color;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .txt-postitem-title,
    .txt-postitem-content {
        @include one-line-ellipsis;
    }
    .txt-postitem-title {
        font-weight: bold;
    }
    .txt-postitem-content {
        margin: 5px 0 5px;
    }
}

// 좋아요 수 - 댓글 수 - 날짜
.container-post-subinfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
    font-size: 13px;

    .container-count-like,
    .container-count-comment {
        padding-left: 17px;
        background-repeat: no-repeat;
        background-size: 13px 13px;
        background-position: left 0px;
    }
    .container-count-like,
    .container-count-comment {
        background-image: url(/images/icon-heart.svg);
    }

    .container-count-comment {
        background-image: url(/images/icon-comment.svg);
    }
}

// 게시글 읽는 페이지
.main-read-post {
    @include extensive-content;

    .section-post-content {
        padding: $padding;

        .txt-post-title {
            margin: 0;
        }

        .txt-post-owner {
            margin: 5px 0 5px;
        }
    }

    .section-post-comment {
        padding: $padding;

        h3 {
            margin: 0;
        }

        .form-create-comment {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            #comment {
                -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                padding: 10px;
                resize: none;
            }
        }
    }
}

.container-circle-count {
    position: relative;
    border-radius: 50%;
    border: 1px solid $border-color;
    width: 45px;
    height: 45px;

    .num-circle-count {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

// 글쓰기 페이지
.main-create-post {
    @include extensive-content;

    .form-create-post {
        .label-create-post-title {
            height: 50px;

            input {
                width: 100%;
                border: 1px solid $border-color;
                border-top: none;
                border-left: none;
                border-right: none;
                padding: $padding;
            }
        }

        .label-create-post-content {
            display: block;
            height: 400px;
        }
    }
}

// wysiwyg
.rdw-editor-main {
    border: 1px solid $border-color;
    height: 400px !important;
    cursor: text;
}

.DraftEditor-root {
    height: auto !important;
}

.wysiwyg-readonly {
    cursor: default;
}

// 게시글 검색
$inputHeight: 45px;

.community-search-main {
    @include extensive-content;

    .container-search-input {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        #communitySearchResult {
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            height: $inputHeight;
            padding: 0 10px 0;
            border: 1px solid $border-color;
        }
    }

    .container-search-select {
        width: 100%;

        #communitySearchSelect {
            width: inherit;
            height: $inputHeight;
            border-radius: 0;
            border: 1px solid $border-color;
            padding: 0 6px 0;
        }
    }

    .result-community-detail {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: $padding;
        border-bottom: 1px solid $border-color;
        background-color: white; // 흰색 안하면 투명

        .txt-total-search {
            margin: 0;
        }
    }
}
