.main-community {
    @include extensive-content;
}

.container-newpost-selectbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: $padding;

    .txt-postinfo {
        margin: 0;
    }
}

.container-button-create-refresh {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    .link-create,
    .button-refresh {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        padding: 10px;
    }

    .link-create {
        border: 1px solid $border-color;
        text-align: center;
    }
}

.wrapper-posts {
    > li {
        padding: $padding;
        margin-bottom: 10px;
        border: 1px solid $border-color;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .txt-postitem-title,
    .txt-postitem-content {
        @include one-line-ellipsis;
    }
    .txt-postitem-title {
        font-weight: bold;
    }
    .txt-postitem-content {
        margin: 5px 0 5px;
    }

    .container-post-subinfo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 12px;
        font-size: 13px;

        .container-count-like,
        .container-count-comment {
            padding-left: 17px;
            background-repeat: no-repeat;
            background-size: 13px 13px;
            background-position: left 0px;
        }
        .container-count-like,
        .container-count-comment {
            background-image: url(/images/icon-heart.svg);
        }

        .container-count-comment {
            background-image: url(/images/icon-comment.svg);
        }
    }
}

// 글쓰기 페이지
.main-create-post {
    @include extensive-content;

    .form-create-post {
        .label-create-post-title {
            height: 50px;

            input {
                width: 100%;
                border: 1px solid $border-color;
                border-top: none;
                border-left: none;
                border-right: none;
                padding: $padding;
            }
        }

        .label-create-post-content {
            display: block;
            height: 400px;
        }
    }
}

// wysiwyg
.rdw-editor-main {
    border: 1px solid $border-color;
    height: 400px !important;
    cursor: text;
}

.DraftEditor-root {
    height: auto !important;
}
