@mixin extensive-content {
    overflow: scroll;
    scrollbar-width: none; /* firefox */
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; /*긴 화면*/

    /* edge, chrome */
    &::-webkit-scrollbar {
        display: none;
    }
}

@mixin one-line-ellipsis {
    width: 100%; /* 부모 요소에 크기 고정시켜야 됨 */
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
