.main-bookmark {
    @include extensive-content;
}

.section-mylists {
    padding: $padding;
}

.ul-summary-bookmark {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    border-bottom: 2px solid $border-color;
    padding: 15px 0 15px;

    > li {
        width: 100%;
        text-align: center;
        font-size: 16px;
        cursor: pointer;

        > p {
            margin: 0;
        }
    }

    > .list-summary-bookmark.on {
        position: relative;
        font-weight: bold;

        &::after {
            position: absolute;
            content: '';
            width: calc(100% - 25px);
            bottom: -18px;
            left: 50%;
            border: 2px solid black;
            -webkit-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
        }
    }
}

// 북마크 디테일
.style-wrapper-bookmark-detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
}

.wrapper-groupcount-orderbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px;
}

.txt-bookmarkgroup {
    margin: 0;
    font-weight: bold;
}

// 정렬 버튼
.button-order-bookmarkgroup {
    position: relative;
    padding: 10px 30px 10px 10px;

    &::before {
        position: absolute;
        content: '';
        background-image: url(/images/icon-arrow.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 15px 15px;
        width: 15px;
        height: 15px;
        top: 50%;
        right: 10px;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%) rotate(-90deg);
    }
}

// 편집하기 버튼
.button-edit-bookmarkgroup {
    position: relative;
    padding: 10px 10px 10px 30px;

    &::before {
        position: absolute;
        content: '';
        background-image: url(/images/icon-edit.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 15px 15px;
        width: 15px;
        height: 15px;
        top: 50%;
        left: 10px;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }
}

.ul-groupname {
    margin-bottom: 20px; // `새 그룹 추가` 버튼과 간격

    .li-bookmarkgroup {
        > a {
            display: block;
            padding: 10px 0 10px;
            border-bottom: 1px solid $border-color;
        }
    }
}

.button-new-group {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    padding: $padding;
    bottom: 15px;
    border: 0;
    background-color: lightgreen;
}

// 그룹 리스트
.style-wrapper-groupname {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.style-wrapper-groupname-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
}

.container-groupicon {
    width: 50px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
}

.txt-groupname,
.txt-restaurant-count {
    margin: 0;
}

.txt-groupname {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

.txt-restaurant-count {
    font-size: 13px;
}

.txt-group-date {
    font-size: 13px;
    -ms-flex-item-align: end;
    align-self: end;
}

// /mt-lists/bookmark/:bookmarkGroupName
.main-bookmarklist {
    @include extensive-content;
    padding: $padding;
}

.list-restaurant-inbookmark {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    border-bottom: 1px solid $border-color;

    > a {
        display: block;
        padding: 20px 0 20px;
        width: calc(100% - 40px);
    }
}

.container-restaurant-title-detail {
    > div {
        @include one-line-ellipsis;
    }

    .style-container-title-date {
        margin-bottom: 5px;
    }

    .txt-title {
        display: inline;
        margin-right: 10px;
        font-weight: bold;
        font-size: 16px;
    }

    .txt-date {
        font-size: 13px;
    }

    .txt-distance,
    .txt-address {
        font-size: 13px;
    }

    .txt-distance {
        margin-right: 10px;
    }
}

.button-more {
    position: absolute;
    background-image: url(/images/icon-3dot.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    top: 20px;
    right: 0;
    width: 15px;
    height: 15px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    border: 0;
    padding: 0;
}

.container-more-option {
    position: absolute;
    top: 30px;
    right: 5px;
    width: 60px;
    border-radius: 5px;
    border: 1px solid $border-color;
    -webkit-box-shadow: 1px 1px 1px black;
    box-shadow: 1px 1px 1px black;
    background-color: white; // 안하면 투명

    .list-option {
        padding: 5px;
        cursor: pointer;

        &:hover {
            background-color: $hover-color;
        }

        .txt-delete {
            font-size: 13px;
            margin: 0;
        }
    }
}

// 모달
.mylist-modal-group {
    position: absolute;
    bottom: 0;
    width: 100%;
    border: 1px solid $border-color;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 20px;
    background-color: white;
    z-index: 9999;
}

.modal-group-order,
.modal-group-add,
.modal-group-move {
    position: relative;

    > h4 {
        margin: 0;
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 20px;
    }

    .container-button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 5px;

        > button {
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            padding: 10px;
            border: 1px solid $border-color;
        }

        .button-groupname-order.on {
            border: 1px solid $active-color;
            color: $active-color;
        }
    }
}

// 닫기 버튼
.button-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    border: 0;

    .img-close {
        -webkit-filter: brightness(0);
        filter: brightness(0);
        width: 20px;
        height: 20px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

// 새 그룹 추가 모달
#groupName,
#groupNameForEdit {
    width: 100%;
    padding: 10px;
    border: 1px solid $border-color;
}

.txt-icon-selection {
    font-weight: bold;
}

.wrapper-icon-group {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 60px);
}

.container-icon {
    position: relative;
    cursor: pointer;

    .style-icon {
        width: 60px;
        height: 60px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-radius: 50%;
        padding: 10px;

        > img {
            width: 100%;
            height: 100%;
        }
    }

    .style-icon.on {
        outline: 2px solid $active-color;
    }
}

.button-groupname-complete {
    width: 100%;
    padding: 10px;
    margin: 20px 0 20px;
}

// /my-lists/bookmark/edit
.main-group-list {
    @include extensive-content;
    padding: $padding;
}

.container-notice {
    color: $active-color;
    border: 1px solid $active-color;
    border-radius: 5px;
    margin-bottom: 20px;

    > p {
        margin: 10px;
    }
}

.li-bookmarkgroup.reuse {
    padding: 10px 0 10px;
    border-bottom: 1px solid $border-color;
}

.button-edit-group,
.button-delete-group {
    padding: 0;
    border: 0;

    > img {
        width: 20px;
        height: 20px;
        -webkit-filter: brightness(0);
        filter: brightness(0);
    }
}

.button-delete-group {
    margin-left: 10px;
    > img {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}
