.nav-bar {
    position: -webkit-sticky;
    position: sticky;
    width: 100%; /* 420px */
    border-top: 1px solid $border-color;

    ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        li {
            width: calc(100vw / 4);
            text-align: center;
            font-size: 12px;
        }
    }
}

.link-nav {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 5px;
    padding-top: 10px;
    padding-bottom: 10px;

    .img-nav-icon {
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .img-nav-icon.home {
        background-image: icon(home);
    }
    .img-nav-icon.search {
        background-image: icon(search);
    }
    .img-nav-icon.bookmark {
        background-image: icon(bookmark);
    }
    .img-nav-icon.community {
        background-image: icon(community);
    }
    .img-nav-icon.user {
        background-image: icon(user);
    }
}

@media (max-width: 420px) {
    .nav-bar {
        width: 100vw;
    }
}
