#map {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

#miniMap {
    height: 300px;
}

.wrapper-restaurant-detail {
    @include extensive-content;
}

.button-count {
    position: absolute;
    -ms-flex-item-align: center;
    align-self: center;
    width: 200px;
    bottom: 100px;
    z-index: 9999;
}

.section-primary {
    padding: 20px;

    .container-rating,
    .container-bookmark-like-share {
        margin: 15px 0 15px;
    }
}

// 상세정보 페이지의 북마크-좋아요-공유 버튼
.container-bookmark-like-share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
}

.button-bookmark,
.button-like,
.button-share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100px;
    padding: 10px;
    gap: 3px;
}

.img-bookmark,
.img-like {
    -webkit-filter: invert(81%) sepia(0%) saturate(0%) hue-rotate(71deg) brightness(102%) contrast(100%);
    filter: invert(81%) sepia(0%) saturate(0%) hue-rotate(71deg) brightness(102%) contrast(100%);
}

.img-bookmark {
    width: 18px;
}

.img-like {
    width: 22px;
}

.img-share {
    width: 22px;
}

.img-bookmark.on {
    -webkit-filter: invert(65%) sepia(60%) saturate(6205%) hue-rotate(130deg) brightness(94%) contrast(104%);
    filter: invert(65%) sepia(60%) saturate(6205%) hue-rotate(130deg) brightness(94%) contrast(104%);
}

.img-like.on {
    -webkit-filter: invert(69%) sepia(75%) saturate(7109%) hue-rotate(339deg) brightness(113%) contrast(103%);
    filter: invert(69%) sepia(75%) saturate(7109%) hue-rotate(339deg) brightness(113%) contrast(103%);
}

.restaurant-cert {
    background-color: lightgreen;
    margin-right: 10px;
}

.restaurant-category {
    background-color: lightgoldenrodyellow;
}

.restaurant-cert,
.restaurant-category {
    padding: 5px;
    display: inline-block;
    font-size: 13px;
}
.txt-restaurant-title {
    font-size: 35px;
    margin: 0;
    margin: 5px 0 10px;
}

.txt-restaurant-address {
    word-break: keep-all;
    line-height: 1.5;
}

.img-copy {
    width: 13px;
}

// 별점
.container-rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

// 위치 섹션
.section-location {
    .style-wrapper-location-address {
        padding: $padding;
    }
}

// 리뷰 섹션
.section-review {
    .wrapper-review {
        padding: $padding;

        .container-review {
            border: 1px solid gray;
            border-radius: 10px;
            overflow: hidden;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }

            .style-wrapper-reviewitem {
                padding: $padding;

                &:first-child {
                    position: relative;

                    &::after {
                        position: absolute;
                        content: '';
                        background-image: url(/images/icon-3dot.svg);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: 20px 20px;
                        top: 50%;
                        right: 10px;
                        width: 20px;
                        height: 20px;
                        -webkit-transform: translate(0, -50%) rotate(90deg);
                        -ms-transform: translate(0, -50%) rotate(90deg);
                        transform: translate(0, -50%) rotate(90deg);
                        cursor: pointer;
                    }
                }
            }
        }

        .txt-review-owner {
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 5px;
        }

        .txt-review-date {
            font-size: 13px;
        }

        .wrapper-review-img {
            position: relative;

            .container-review-img {
                overflow: hidden;
                background-color: $preview-color;
                width: calc((422px - #{$padding * 2}) * 3);
                height: calc(422px - #{$padding * 2});

                .txt-count-img {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    padding: 5px;
                    margin: 0;
                    background-color: rgba(1, 1, 1, 0.5);
                    color: $on-opacity;
                }

                .button-move-img {
                    position: absolute;
                    top: 50%;
                    background-image: icon(arrow, $svg-img-arrow);
                    width: 30px;
                    height: 30px;
                    background-color: rgba(1, 1, 1, 0.5);
                    background-position: center center;
                    background-repeat: no-repeat;
                    border-radius: 50%;
                    border: 0;
                }

                .button-move-img.prev {
                    left: 15px;
                }

                .button-move-img.next {
                    right: 15px;
                    -webkit-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    transform: rotate(180deg);
                }

                img {
                    float: left;
                    width: calc(422px - #{$padding * 2});
                    height: inherit;
                    -o-object-fit: cover;
                    object-fit: cover;
                }
            }
        }

        .button-review-like {
            padding: 0;
            border: none;
        }

        .num-like-count {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            gap: 5px;
            margin-bottom: 5px;
        }
    }
}

.style-wrapper-no-review {
    text-align: center;
    background-color: lavender;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 45px;
    margin-top: 50px;

    .txt-no-review {
        font-size: 50px;
    }

    p {
        font-size: 16px;
    }
}

.wrapper-pagination {
    padding: $padding;

    > ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        .button-prev-page,
        .button-next-page {
            background-image: icon(arrow);
            background-size: 20px 20px;
            background-position: center center;
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            border: 0;
        }

        .button-next-page {
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
        }

        .button-prev-page:disabled,
        .button-next-page:disabled {
            background-image: icon(arrow, $svg-disabled);
        }

        .container-pagination {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            .button-page {
                border: 0;
            }

            .button-page.on {
                font-weight: bold;
            }
        }
    }
}

// 리뷰 작성 페이지
.section-add-picture,
.section-write-review {
    padding: 0;
    margin: 0;
    border: none;
}

.container-picture {
    display: grid;
    grid-template-columns: 135px 135px;
    grid-template-rows: 135px 135px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 15px;

    .button-add-picture,
    .list-picture {
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .button-add-picture {
        background-image: icon(plus);
        cursor: pointer;
    }

    .list-picture {
        background-image: icon(image);

        img,
        source {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
}
