#map {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

#miniMap {
    height: 300px;
}

.wrapper-restaurant-detail {
    @include extensive-content;
}

.button-count {
    position: absolute;
    -ms-flex-item-align: center;
    align-self: center;
    width: 200px;
    bottom: 100px;
    z-index: 9999;
}

.section-primary {
    padding: 20px;

    .container-rating,
    .container-bookmark-like-share {
        margin: 15px 0 15px;
    }
}

// 상세정보 페이지의 북마크-좋아요-공유 버튼
.container-bookmark-like-share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 10px;
}

.button-bookmark,
.button-like,
.button-share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100px;
    padding: 10px;
    gap: 3px;
}

.img-bookmark,
.img-like {
    -webkit-filter: invert(81%) sepia(0%) saturate(0%) hue-rotate(71deg) brightness(102%) contrast(100%);
    filter: invert(81%) sepia(0%) saturate(0%) hue-rotate(71deg) brightness(102%) contrast(100%);
}

.img-bookmark {
    width: 18px;
}

.img-like {
    width: 22px;
}

.img-share {
    width: 22px;
}

.img-bookmark.on {
    -webkit-filter: invert(65%) sepia(60%) saturate(6205%) hue-rotate(130deg) brightness(94%) contrast(104%);
    filter: invert(65%) sepia(60%) saturate(6205%) hue-rotate(130deg) brightness(94%) contrast(104%);
}

.img-like.on {
    -webkit-filter: invert(69%) sepia(75%) saturate(7109%) hue-rotate(339deg) brightness(113%) contrast(103%);
    filter: invert(69%) sepia(75%) saturate(7109%) hue-rotate(339deg) brightness(113%) contrast(103%);
}

.restaurant-cert {
    background-color: lightgreen;
    margin-right: 10px;
}

.restaurant-category {
    background-color: lightcoral;
}

.restaurant-cert,
.restaurant-category {
    padding: 5px;
    display: inline-block;
    font-size: 13px;
}
.txt-restaurant-title {
    font-size: 35px;
    margin: 0;
}

.txt-restaurant-address {
    word-break: keep-all;
    line-height: 1.5;
}

.img-copy {
    width: 13px;
}

// 별점
.container-rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

// 위치 섹션
.section-location {
    margin: 25px 0 25px;
    h4 {
        margin: 0;
    }
}

// 리뷰 섹션
.section-review {
    h4 {
        margin: 0;
    }

    .wrapper-review {
        .container-review {
            &:nth-child(2) {
                margin: 50px 0 50px;
            }
        }

        .txt-review-owner {
            font-weight: bold;
            font-size: 16px;
        }

        .txt-review-date {
            font-size: 13px;
        }

        .txt-review-owner,
        .txt-review-date,
        .txt-review-content,
        .num-like-count {
            padding: 0 20px 0;
        }

        .container-review-img {
            overflow: hidden;
            background-color: #d3d3d3;
            width: 422px;
            height: 422px;

            img {
                width: inherit;
                height: inherit;
                -o-object-fit: cover;
                object-fit: cover;
            }
        }

        .button-review-like {
            padding: 0;
            border: none;
        }

        .num-like-count {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            gap: 5px;
        }
    }
}

.wrapper-pagination {
    > ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        .container-pagination {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }
    }
}

// 리뷰 작성 페이지
.wrapper-review {
    @include extensive-content;
}

.section-add-picture,
.section-write-review {
    padding: 0;
    margin: 0;
    border: none;
}

.container-picture {
    display: grid;
    grid-template-columns: 135px 135px;
    grid-template-rows: 135px 135px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 15px;

    .button-add-picture,
    .list-picture {
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .button-add-picture {
        background-color: darkgrey;
        background-image: url('/images/icon-plus.svg');
        cursor: pointer;
    }

    .list-picture {
        background-color: #d3d3d3;
        background-image: url('/images/icon-image.svg');

        img,
        source {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
}
