#map {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

#miniMap {
    height: 300px;
}

.wrapper-restaurant-detail {
    @include extensive-content;
}

.button-count {
    position: absolute;
    -ms-flex-item-align: center;
    align-self: center;
    width: 200px;
    bottom: 100px;
    z-index: 9999;
}

.section-primary {
    padding: 20px;

    .container-rating,
    .container-bookmark-like-share {
        margin: 15px 0 15px;
    }
}

// 상세정보 페이지의 북마크-좋아요-공유 버튼
.container-bookmark-like-share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 10px;
}

.button-bookmark,
.button-like,
.button-share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100px;
    padding: 10px;
    gap: 3px;

    .img-bookmark,
    .img-like {
        -webkit-filter: invert(81%) sepia(0%) saturate(0%) hue-rotate(71deg) brightness(102%) contrast(100%);
        filter: invert(81%) sepia(0%) saturate(0%) hue-rotate(71deg) brightness(102%) contrast(100%);
    }

    .img-bookmark {
        width: 18px;
    }

    .img-like {
        width: 22px;
    }

    .img-share {
        width: 22px;
    }

    .img-bookmark.on {
        -webkit-filter: invert(65%) sepia(60%) saturate(6205%) hue-rotate(130deg) brightness(94%) contrast(104%);
        filter: invert(65%) sepia(60%) saturate(6205%) hue-rotate(130deg) brightness(94%) contrast(104%);
    }

    .img-like.on {
        -webkit-filter: invert(69%) sepia(75%) saturate(7109%) hue-rotate(339deg) brightness(113%) contrast(103%);
        filter: invert(69%) sepia(75%) saturate(7109%) hue-rotate(339deg) brightness(113%) contrast(103%);
    }
}

.restaurant-cert {
    background-color: lightgreen;
    margin-right: 10px;
}

.restaurant-category {
    background-color: lightcoral;
}

.restaurant-cert,
.restaurant-category {
    padding: 5px;
    display: inline-block;
    font-size: 13px;
}
.txt-restaurant-title {
    font-size: 35px;
    margin: 0;
}

.txt-restaurant-address {
    word-break: keep-all;
    line-height: 1.5;
}

.img-copy {
    width: 13px;
}

// 별점
.container-rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
