@charset "UTF-8";
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #00784a;
  color: #333333;
  overflow: hidden;
}

body,
button {
  font-family: "Pretendard-Regular", Sans-serif;
  letter-spacing: -0.05rem;
}

button {
  border: 1px solid #d3d3d3;
  background-color: #ffffff;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

a {
  text-decoration: none;
  color: #333333;
}
a > img {
  display: block;
}

ul,
ol,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl,
dd {
  margin: 0;
}

.layout {
  display: flex;
  justify-content: center;
  gap: 200px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0); /* 구형 브라우저를 위해 사용 */
  -webkit-clip-path: polygon(0 0, 0 0, 0 0);
  clip-path: polygon(0 0, 0 0, 0 0); /* inset(50%) 와 동일한 표현 */
  border: 0;
}

.left-area {
  margin-top: 50px;
  color: #e9e9e9;
}
.left-area .txt-intro {
  position: absolute;
  top: 40%;
}
.left-area .txt-intro strong {
  font-size: 33px;
}
.left-area .txt-intro h1 {
  margin: 20px 0 0 0;
  font-size: 50px;
}

@media (max-width: 900px) {
  .left-area {
    display: none;
  }
}
.app {
  height: 100vh;
  background-color: #ffffff;
  width: 422px;
  display: flex;
  flex-direction: column;
}

#map {
  flex-grow: 1;
}

#miniMap {
  height: 300px;
}

.wrapper-restaurant-detail {
  overflow: scroll;
  scrollbar-width: none; /* firefox */
  flex-grow: 1; /*긴 화면*/
  /* edge, chrome */
}
.wrapper-restaurant-detail::-webkit-scrollbar {
  display: none;
}

.button-count {
  position: absolute;
  align-self: center;
  width: 200px;
  bottom: 100px;
  z-index: 9999;
}

.section-primary {
  padding: 20px;
}
.section-primary .container-rating,
.section-primary .container-bookmark-like-share {
  margin: 15px 0 15px;
}

.container-bookmark-like-share {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button-bookmark,
.button-like,
.button-share {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  padding: 10px;
  gap: 3px;
}

.img-bookmark,
.img-like {
  filter: invert(81%) sepia(0%) saturate(0%) hue-rotate(71deg) brightness(102%) contrast(100%);
}

.img-bookmark {
  width: 18px;
}

.img-like {
  width: 22px;
}

.img-share {
  width: 22px;
}

.img-bookmark.on {
  filter: invert(65%) sepia(60%) saturate(6205%) hue-rotate(130deg) brightness(94%) contrast(104%);
}

.img-like.on {
  filter: invert(69%) sepia(75%) saturate(7109%) hue-rotate(339deg) brightness(113%) contrast(103%);
}

.restaurant-cert {
  background-color: lightgreen;
  margin-right: 10px;
}

.restaurant-category {
  background-color: lightcoral;
}

.restaurant-cert,
.restaurant-category {
  padding: 5px;
  display: inline-block;
  font-size: 13px;
}

.txt-restaurant-title {
  font-size: 35px;
  margin: 0;
}

.txt-restaurant-address {
  word-break: keep-all;
  line-height: 1.5;
}

.img-copy {
  width: 13px;
}

.container-rating {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-location {
  margin: 25px 0 25px;
}
.section-location h4 {
  margin: 0;
}

.section-review h4 {
  margin: 0;
}
.section-review .wrapper-review .container-review:nth-child(2) {
  margin: 50px 0 50px;
}
.section-review .wrapper-review .txt-review-owner {
  font-weight: bold;
  font-size: 16px;
}
.section-review .wrapper-review .txt-review-date {
  font-size: 13px;
}
.section-review .wrapper-review .txt-review-owner,
.section-review .wrapper-review .txt-review-date,
.section-review .wrapper-review .txt-review-content,
.section-review .wrapper-review .num-like-count {
  padding: 0 20px 0;
}
.section-review .wrapper-review .wrapper-review-img {
  position: relative;
}
.section-review .wrapper-review .wrapper-review-img .container-review-img {
  overflow: hidden;
  background-color: #d3d3d3;
  width: 1266px;
  height: 422px;
}
.section-review .wrapper-review .wrapper-review-img .container-review-img .txt-count-img {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  margin: 0;
  background-color: #d3d3d3;
}
.section-review .wrapper-review .wrapper-review-img .container-review-img .button-move-img {
  position: absolute;
}
.section-review .wrapper-review .wrapper-review-img .container-review-img .button-move-img.prev {
  left: 0;
  top: 50%;
}
.section-review .wrapper-review .wrapper-review-img .container-review-img .button-move-img.next {
  right: 0;
  top: 50%;
}
.section-review .wrapper-review .wrapper-review-img .container-review-img img {
  float: left;
  width: 422px;
  height: inherit;
  -o-object-fit: cover;
  object-fit: cover;
}
.section-review .wrapper-review .button-review-like {
  padding: 0;
  border: none;
}
.section-review .wrapper-review .num-like-count {
  display: flex;
  align-items: center;
  gap: 5px;
}

.wrapper-pagination > ul {
  display: flex;
  justify-content: center;
}
.wrapper-pagination > ul .container-pagination {
  display: flex;
}

.wrapper-review {
  overflow: scroll;
  scrollbar-width: none; /* firefox */
  flex-grow: 1; /*긴 화면*/
  /* edge, chrome */
}
.wrapper-review::-webkit-scrollbar {
  display: none;
}

.section-add-picture,
.section-write-review {
  padding: 0;
  margin: 0;
  border: none;
}

.container-picture {
  display: grid;
  grid-template-columns: 135px 135px;
  grid-template-rows: 135px 135px;
  justify-content: center;
  gap: 15px;
}
.container-picture .button-add-picture,
.container-picture .list-picture {
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center center;
}
.container-picture .button-add-picture {
  background-color: darkgrey;
  background-image: url("/images/icon-plus.svg");
  cursor: pointer;
}
.container-picture .list-picture {
  background-color: #d3d3d3;
  background-image: url("/images/icon-image.svg");
}
.container-picture .list-picture img,
.container-picture .list-picture source {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.top-bar {
  position: sticky;
  width: 100%; /* 420px */
  border-bottom: 1px solid #d3d3d3;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.top-bar .button-back {
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
}
.top-bar .top-title {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.top-bar.search {
  gap: 10px;
}
.top-bar.search .search-bar {
  flex-grow: 1;
}
.top-bar.search .search-bar.off {
  display: none;
}
.top-bar.search #searchItem {
  width: 100%;
  height: 40px;
  border: 1px solid #d3d3d3;
}

@media (max-width: 420px) {
  .top-bar {
    width: 100vw;
  }
}
.nav-bar {
  position: sticky;
  width: 100%; /* 420px */
  border-top: 1px solid #d3d3d3;
}
.nav-bar ul {
  display: flex;
  flex-direction: row;
}
.nav-bar ul li {
  width: 25vw;
  text-align: center;
  font-size: 12px;
}

.link-nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.link-nav .img-nav-icon {
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-position: center center;
  background-repeat: no-repeat;
}
.link-nav .img-nav-icon.home {
  background-image: url("/images/icon-home.svg");
}
.link-nav .img-nav-icon.search {
  background-image: url("/images/icon-search.svg");
}
.link-nav .img-nav-icon.bookmark {
  background-image: url("/images/icon-bookmark.svg");
}
.link-nav .img-nav-icon.community {
  background-image: url("/images/icon-community.svg");
}
.link-nav .img-nav-icon.user {
  background-image: url("/images/icon-user.svg");
}

@media (max-width: 420px) {
  .nav-bar {
    width: 100vw;
  }
}
.main-community {
  overflow: scroll;
  scrollbar-width: none; /* firefox */
  flex-grow: 1; /*긴 화면*/
  /* edge, chrome */
}
.main-community::-webkit-scrollbar {
  display: none;
}

.container-newpost-selectbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.container-newpost-selectbox .txt-postinfo {
  margin: 0;
}

.container-button-create-refresh {
  display: flex;
}
.container-button-create-refresh .link-create,
.container-button-create-refresh .button-refresh {
  flex-grow: 1;
  padding: 10px;
}
.container-button-create-refresh .link-create {
  border: 1px solid #d3d3d3;
  text-align: center;
}

.wrapper-posts > li {
  margin-bottom: 10px;
  border: 1px solid #d3d3d3;
  display: flex;
}
.wrapper-posts .txt-postitem-title,
.wrapper-posts .txt-postitem-content {
  width: 100%; /* 부모 요소에 크기 고정시켜야 됨 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrapper-posts .txt-postitem-title {
  font-weight: bold;
}
.wrapper-posts .txt-postitem-content {
  margin: 5px 0 5px;
}

.container-post-subinfo {
  display: flex;
  gap: 12px;
  font-size: 13px;
}
.container-post-subinfo .container-count-like,
.container-post-subinfo .container-count-comment {
  padding-left: 17px;
  background-repeat: no-repeat;
  background-size: 13px 13px;
  background-position: left 0px;
}
.container-post-subinfo .container-count-like,
.container-post-subinfo .container-count-comment {
  background-image: url(/images/icon-heart.svg);
}
.container-post-subinfo .container-count-comment {
  background-image: url(/images/icon-comment.svg);
}

.main-read-post {
  overflow: scroll;
  scrollbar-width: none; /* firefox */
  flex-grow: 1; /*긴 화면*/
  /* edge, chrome */
}
.main-read-post::-webkit-scrollbar {
  display: none;
}
.main-read-post .section-post-content {
  padding: 20px;
}
.main-read-post .section-post-content .txt-post-title {
  margin: 0;
}
.main-read-post .section-post-content .txt-post-owner {
  margin: 5px 0 5px;
}
.main-read-post .section-post-comment {
  padding: 20px;
}
.main-read-post .section-post-comment h3 {
  margin: 0;
}
.main-read-post .section-post-comment .form-create-comment {
  display: flex;
}
.main-read-post .section-post-comment .form-create-comment #comment {
  flex-grow: 1;
  padding: 10px;
  resize: none;
}

.container-circle-count {
  position: relative;
  border-radius: 50%;
  border: 1px solid #d3d3d3;
  width: 45px;
  height: 45px;
}
.container-circle-count .num-circle-count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-create-post {
  overflow: scroll;
  scrollbar-width: none; /* firefox */
  flex-grow: 1; /*긴 화면*/
  /* edge, chrome */
}
.main-create-post::-webkit-scrollbar {
  display: none;
}
.main-create-post .form-create-post .label-create-post-title {
  height: 50px;
}
.main-create-post .form-create-post .label-create-post-title input {
  width: 100%;
  border: 1px solid #d3d3d3;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 20px;
}
.main-create-post .form-create-post .label-create-post-content {
  display: block;
  height: 400px;
}

.rdw-editor-main {
  border: 1px solid #d3d3d3;
  height: 400px !important;
  cursor: text;
}

.DraftEditor-root {
  height: auto !important;
}

.wysiwyg-readonly {
  cursor: default;
}

.home-content {
  overflow: scroll;
  scrollbar-width: none; /* firefox */
  flex-grow: 1; /*긴 화면*/
  /* edge, chrome */
}
.home-content::-webkit-scrollbar {
  display: none;
}

.wrapper-login-content {
  overflow: scroll;
  scrollbar-width: none; /* firefox */
  flex-grow: 1; /*긴 화면*/
  /* edge, chrome */
}
.wrapper-login-content::-webkit-scrollbar {
  display: none;
}

.wrapper-signup-content {
  overflow: scroll;
  scrollbar-width: none; /* firefox */
  flex-grow: 1; /*긴 화면*/
  /* edge, chrome */
}
.wrapper-signup-content::-webkit-scrollbar {
  display: none;
}/*# sourceMappingURL=index.css.map */