@charset "UTF-8";
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #00784a;
  color: #333333;
  overflow: hidden;
}

body,
button {
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -0.05rem;
}

button {
  border: 1px solid #d3d3d3;
  background-color: #ffffff;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

a {
  text-decoration: none;
  color: #333333;
}
a > img {
  display: block;
}

ul,
ol,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl,
dd {
  margin: 0;
}

.layout {
  display: flex;
  justify-content: center;
  gap: 200px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0); /* 구형 브라우저를 위해 사용 */
  -webkit-clip-path: polygon(0 0, 0 0, 0 0);
  clip-path: polygon(0 0, 0 0, 0 0); /* inset(50%) 와 동일한 표현 */
  border: 0;
}

.left-area {
  margin-top: 50px;
  color: #e9e9e9;
}
.left-area .txt-intro {
  position: absolute;
  top: 40%;
}
.left-area .txt-intro strong {
  font-size: 33px;
}
.left-area .txt-intro h1 {
  margin: 20px 0 0 0;
  font-size: 50px;
}

@media (max-width: 900px) {
  .left-area {
    display: none;
  }
}
.app {
  height: 100vh;
  background-color: #ffffff;
  width: 422px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.app.modal-mode::after {
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  background-size: contain;
  width: 100%;
  height: 100vh;
}

#map {
  flex-grow: 1;
}

#miniMap {
  height: 300px;
}

.wrapper-restaurant-detail {
  overflow: scroll;
  scrollbar-width: none; /* firefox */
  flex-grow: 1; /*긴 화면*/
  /* edge, chrome */
}
.wrapper-restaurant-detail::-webkit-scrollbar {
  display: none;
}

.button-count {
  position: absolute;
  align-self: center;
  width: 200px;
  bottom: 100px;
  z-index: 9999;
}

.section-primary {
  padding: 20px;
}
.section-primary .container-rating,
.section-primary .container-bookmark-like-share {
  margin: 15px 0 15px;
}

.container-bookmark-like-share {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
}

.button-bookmark,
.button-like,
.button-share {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  padding: 10px;
  gap: 3px;
}

.img-bookmark,
.img-like {
  filter: invert(81%) sepia(0%) saturate(0%) hue-rotate(71deg) brightness(102%) contrast(100%);
}

.img-bookmark {
  width: 18px;
}

.img-like {
  width: 22px;
}

.img-share {
  width: 22px;
}

.img-bookmark.on {
  filter: invert(65%) sepia(60%) saturate(6205%) hue-rotate(130deg) brightness(94%) contrast(104%);
}

.img-like.on {
  filter: invert(69%) sepia(75%) saturate(7109%) hue-rotate(339deg) brightness(113%) contrast(103%);
}

.restaurant-cert {
  background-color: lightgreen;
  margin-right: 10px;
}

.restaurant-category {
  background-color: lightgoldenrodyellow;
}

.restaurant-cert,
.restaurant-category {
  padding: 5px;
  display: inline-block;
  font-size: 13px;
}

.txt-restaurant-title {
  font-size: 35px;
  margin: 0;
  margin: 5px 0 10px;
}

.txt-restaurant-address {
  word-break: keep-all;
  line-height: 1.5;
}

.img-copy {
  width: 13px;
}

.container-rating {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-location .style-wrapper-location-address {
  padding: 20px;
}

.section-review .wrapper-review {
  padding: 20px;
}
.section-review .wrapper-review .container-review {
  border: 1px solid gray;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}
.section-review .wrapper-review .container-review:last-child {
  margin-bottom: 0;
}
.section-review .wrapper-review .container-review .style-wrapper-reviewitem {
  padding: 20px;
}
.section-review .wrapper-review .container-review .style-wrapper-reviewitem:first-child {
  position: relative;
}
.section-review .wrapper-review .container-review .style-wrapper-reviewitem:first-child::after {
  position: absolute;
  content: "";
  background-image: url(/images/icon-3dot.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  top: 50%;
  right: 10px;
  width: 20px;
  height: 20px;
  transform: translate(0, -50%) rotate(90deg);
  cursor: pointer;
}
.section-review .wrapper-review .txt-review-owner {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}
.section-review .wrapper-review .txt-review-date {
  font-size: 13px;
}
.section-review .wrapper-review .wrapper-review-img {
  position: relative;
}
.section-review .wrapper-review .wrapper-review-img .container-review-img {
  overflow: hidden;
  background-color: #d3d3d3;
  width: calc((422px - 40px) * 3);
  height: calc(422px - 40px);
}
.section-review .wrapper-review .wrapper-review-img .container-review-img .txt-count-img {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  margin: 0;
  background-color: #d3d3d3;
}
.section-review .wrapper-review .wrapper-review-img .container-review-img .button-move-img {
  position: absolute;
}
.section-review .wrapper-review .wrapper-review-img .container-review-img .button-move-img.prev {
  left: 0;
  top: 50%;
}
.section-review .wrapper-review .wrapper-review-img .container-review-img .button-move-img.next {
  right: 0;
  top: 50%;
}
.section-review .wrapper-review .wrapper-review-img .container-review-img img {
  float: left;
  width: calc(422px - 40px);
  height: inherit;
  -o-object-fit: cover;
  object-fit: cover;
}
.section-review .wrapper-review .button-review-like {
  padding: 0;
  border: none;
}
.section-review .wrapper-review .num-like-count {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}

.style-wrapper-no-review {
  text-align: center;
  background-color: lavender;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 45px;
  margin-top: 50px;
}
.style-wrapper-no-review .txt-no-review {
  font-size: 50px;
}
.style-wrapper-no-review p {
  font-size: 16px;
}

.wrapper-pagination {
  padding: 20px;
}
.wrapper-pagination > ul {
  display: flex;
  justify-content: center;
}
.wrapper-pagination > ul .container-pagination {
  display: flex;
}

.section-add-picture,
.section-write-review {
  padding: 0;
  margin: 0;
  border: none;
}

.container-picture {
  display: grid;
  grid-template-columns: 135px 135px;
  grid-template-rows: 135px 135px;
  justify-content: center;
  gap: 15px;
}
.container-picture .button-add-picture,
.container-picture .list-picture {
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center center;
}
.container-picture .button-add-picture {
  background-color: darkgrey;
  background-image: url("/images/icon-plus.svg");
  cursor: pointer;
}
.container-picture .list-picture {
  background-color: #d3d3d3;
  background-image: url("/images/icon-image.svg");
}
.container-picture .list-picture img,
.container-picture .list-picture source {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.top-bar {
  position: sticky;
  width: 100%; /* 420px */
  border-bottom: 1px solid #d3d3d3;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.top-bar .button-back {
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
}
.top-bar .button-back > img {
  width: 100%;
  height: 100%;
}
.top-bar .top-title {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.top-bar.search {
  gap: 10px;
}
.top-bar.search .search-bar {
  flex-grow: 1;
}
.top-bar.search .search-bar.off {
  display: none;
}
.top-bar.search #searchItem {
  width: 100%;
  height: 40px;
  border: 1px solid #d3d3d3;
}

@media (max-width: 420px) {
  .top-bar {
    width: 100vw;
  }
}
.nav-bar {
  position: sticky;
  width: 100%; /* 420px */
  border-top: 1px solid #d3d3d3;
}
.nav-bar ul {
  display: flex;
  flex-direction: row;
}
.nav-bar ul li {
  width: 25vw;
  text-align: center;
  font-size: 12px;
}

.link-nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.link-nav .img-nav-icon {
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-position: center center;
  background-repeat: no-repeat;
}
.link-nav .img-nav-icon.home {
  background-image: url("/images/icon-home.svg");
}
.link-nav .img-nav-icon.search {
  background-image: url("/images/icon-search.svg");
}
.link-nav .img-nav-icon.bookmark {
  background-image: url("/images/icon-bookmark.svg");
}
.link-nav .img-nav-icon.community {
  background-image: url("/images/icon-community.svg");
}
.link-nav .img-nav-icon.user {
  background-image: url("/images/icon-user.svg");
}

@media (max-width: 420px) {
  .nav-bar {
    width: 100vw;
  }
}
.home-content {
  overflow: scroll;
  scrollbar-width: none; /* firefox */
  flex-grow: 1; /*긴 화면*/
  /* edge, chrome */
}
.home-content::-webkit-scrollbar {
  display: none;
}

.wrapper-login-content {
  overflow: scroll;
  scrollbar-width: none; /* firefox */
  flex-grow: 1; /*긴 화면*/
  /* edge, chrome */
}
.wrapper-login-content::-webkit-scrollbar {
  display: none;
}

.wrapper-signup-content {
  overflow: scroll;
  scrollbar-width: none; /* firefox */
  flex-grow: 1; /*긴 화면*/
  /* edge, chrome */
}
.wrapper-signup-content::-webkit-scrollbar {
  display: none;
}

.main-community {
  overflow: scroll;
  scrollbar-width: none; /* firefox */
  flex-grow: 1; /*긴 화면*/
  /* edge, chrome */
}
.main-community::-webkit-scrollbar {
  display: none;
}

.txt-community-nopost {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-newpost-selectbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.container-newpost-selectbox .txt-postinfo {
  margin: 0;
}

.container-button-create-refresh {
  display: flex;
}
.container-button-create-refresh .link-create,
.container-button-create-refresh .button-refresh {
  flex-grow: 1;
  padding: 10px;
}
.container-button-create-refresh .link-create {
  border: 1px solid #d3d3d3;
  text-align: center;
}

.wrapper-posts > li {
  margin-bottom: 10px;
  border: 1px solid #d3d3d3;
  display: flex;
}
.wrapper-posts .txt-postitem-title,
.wrapper-posts .txt-postitem-content {
  width: 100%; /* 부모 요소에 크기 고정시켜야 됨 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrapper-posts .txt-postitem-title {
  font-weight: bold;
}
.wrapper-posts .txt-postitem-content {
  margin: 5px 0 5px;
}

.container-post-subinfo {
  display: flex;
  gap: 12px;
  font-size: 13px;
}
.container-post-subinfo .container-count-like,
.container-post-subinfo .container-count-comment {
  padding-left: 17px;
  background-repeat: no-repeat;
  background-size: 13px 13px;
  background-position: left 0px;
}
.container-post-subinfo .container-count-like,
.container-post-subinfo .container-count-comment {
  background-image: url(/images/icon-heart.svg);
}
.container-post-subinfo .container-count-comment {
  background-image: url(/images/icon-comment.svg);
}

.main-read-post {
  overflow: scroll;
  scrollbar-width: none; /* firefox */
  flex-grow: 1; /*긴 화면*/
  /* edge, chrome */
}
.main-read-post::-webkit-scrollbar {
  display: none;
}
.main-read-post .section-post-content {
  padding: 20px;
}
.main-read-post .section-post-content .txt-post-title {
  margin: 0;
}
.main-read-post .section-post-content .txt-post-owner {
  margin: 5px 0 5px;
}
.main-read-post .section-post-comment {
  padding: 20px;
}
.main-read-post .section-post-comment h3 {
  margin: 0;
}
.main-read-post .section-post-comment .form-create-comment {
  display: flex;
}
.main-read-post .section-post-comment .form-create-comment #comment {
  flex-grow: 1;
  padding: 10px;
  resize: none;
}

.container-circle-count {
  position: relative;
  border-radius: 50%;
  border: 1px solid #d3d3d3;
  width: 45px;
  height: 45px;
}
.container-circle-count .num-circle-count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-create-post {
  overflow: scroll;
  scrollbar-width: none; /* firefox */
  flex-grow: 1; /*긴 화면*/
  /* edge, chrome */
}
.main-create-post::-webkit-scrollbar {
  display: none;
}
.main-create-post .form-create-post .label-create-post-title {
  height: 50px;
}
.main-create-post .form-create-post .label-create-post-title input {
  width: 100%;
  border: 1px solid #d3d3d3;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 20px;
}
.main-create-post .form-create-post .label-create-post-content {
  display: block;
  height: 400px;
}

.rdw-editor-main {
  border: 1px solid #d3d3d3;
  height: 400px !important;
  cursor: text;
}

.DraftEditor-root {
  height: auto !important;
}

.wysiwyg-readonly {
  cursor: default;
}

.community-search-main {
  overflow: scroll;
  scrollbar-width: none; /* firefox */
  flex-grow: 1; /*긴 화면*/
  /* edge, chrome */
}
.community-search-main::-webkit-scrollbar {
  display: none;
}
.community-search-main .container-search-input {
  display: flex;
}
.community-search-main .container-search-input #communitySearchResult {
  flex-grow: 1;
  height: 45px;
  padding: 0 10px 0;
  border: 1px solid #d3d3d3;
}
.community-search-main .container-search-select {
  width: 100%;
}
.community-search-main .container-search-select #communitySearchSelect {
  width: inherit;
  height: 45px;
  border-radius: 0;
  border: 1px solid #d3d3d3;
  padding: 0 6px 0;
}
.community-search-main .result-community-detail {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #d3d3d3;
  background-color: white;
}
.community-search-main .result-community-detail .txt-total-search {
  margin: 0;
}

.main-my {
  overflow: scroll;
  scrollbar-width: none; /* firefox */
  flex-grow: 1; /*긴 화면*/
  /* edge, chrome */
}
.main-my::-webkit-scrollbar {
  display: none;
}

.ul-title-bar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  border-bottom: 2px solid #d3d3d3;
  padding: 15px 0 15px;
}
.ul-title-bar > li {
  width: 100%;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}
.ul-title-bar > .list-title.on {
  position: relative;
  font-weight: bold;
}
.ul-title-bar > .list-title.on::after {
  position: absolute;
  content: "";
  width: calc(100% - 25px);
  bottom: -18px;
  left: 50%;
  border: 2px solid #0073e6;
  transform: translate(-50%, 0);
}

.ul-summary-community {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  border-bottom: 2px solid #d3d3d3;
  padding: 15px 0 15px;
}
.ul-summary-community > li {
  width: 100%;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}
.ul-summary-community > li > p {
  margin: 0;
}
.ul-summary-community > .list-summary-community.on {
  position: relative;
  font-weight: bold;
}
.ul-summary-community > .list-summary-community.on::after {
  position: absolute;
  content: "";
  width: calc(100% - 25px);
  bottom: -18px;
  left: 50%;
  border: 2px solid #0073e6;
  transform: translate(-50%, 0);
}

.ul-profile > li {
  border-bottom: 1px solid #d3d3d3;
}

.style-wrapper-profile {
  position: relative;
  display: flex;
  padding: 20px;
  gap: 15px;
}

.wrapper-profile-image {
  position: relative;
  width: 70px;
  height: 70px;
}
.wrapper-profile-image .button-add-profile-image {
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.wrapper-id-bookmark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.wrapper-id-bookmark .container-id-nick {
  display: flex;
  align-items: end;
  gap: 10px;
}
.wrapper-id-bookmark .container-id-nick .txt-profile-userId {
  font-size: 18px;
  font-weight: bold;
}
.wrapper-id-bookmark .container-id-nick .txt-profile-nickName {
  font-size: 16px;
}
.wrapper-id-bookmark .container-profile-bookmark-like {
  display: flex;
}
.wrapper-id-bookmark .container-profile-bookmark-like .num-profile-bookmark {
  margin-right: 5px;
}

.txt-host {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid #0073e6;
  border-radius: 5px;
  color: #0073e6;
  padding: 5px;
  font-size: 13px;
  line-height: 13px;
}

.wrapper-profile-notice,
.wrapper-profile-inquiry,
.wrapper-profile-FAQ {
  position: relative;
}
.wrapper-profile-notice > a,
.wrapper-profile-inquiry > a,
.wrapper-profile-FAQ > a {
  width: 100%;
  display: block;
  padding: 20px 20px 20px 60px;
  font-size: 20px;
}
.wrapper-profile-notice > a::before, .wrapper-profile-notice > a::after,
.wrapper-profile-inquiry > a::before,
.wrapper-profile-inquiry > a::after,
.wrapper-profile-FAQ > a::before,
.wrapper-profile-FAQ > a::after {
  position: absolute;
  content: "";
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  top: 50%;
  transform: translate(0, -50%);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  top: 50%;
}
.wrapper-profile-notice > a::before,
.wrapper-profile-inquiry > a::before,
.wrapper-profile-FAQ > a::before {
  left: 22px;
  transform: translate(0, -50%);
}
.wrapper-profile-notice > a::after,
.wrapper-profile-inquiry > a::after,
.wrapper-profile-FAQ > a::after {
  background-image: url(/images/icon-arrow.svg);
  right: 22px;
  transform: translate(0, -50%) rotate(180deg);
}

.wrapper-profile-notice > a::before {
  background-image: url(/images/icon-notice.svg);
}

.wrapper-profile-inquiry > a::before {
  background-image: url(/images/icon-inquiry.svg);
}

.wrapper-profile-FAQ > a::before {
  background-image: url(/images/icon-FAQ.svg);
}

.style-wrapper-logout {
  padding: 20px;
}
.style-wrapper-logout > button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.wrapper-summary-community {
  display: flex;
}

.main-bookmark {
  overflow: scroll;
  scrollbar-width: none; /* firefox */
  flex-grow: 1; /*긴 화면*/
  /* edge, chrome */
}
.main-bookmark::-webkit-scrollbar {
  display: none;
}

.section-mylists {
  padding: 20px;
}

.ul-summary-bookmark {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  border-bottom: 2px solid #d3d3d3;
  padding: 15px 0 15px;
}
.ul-summary-bookmark > li {
  width: 100%;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}
.ul-summary-bookmark > li > p {
  margin: 0;
}
.ul-summary-bookmark > .list-summary-bookmark.on {
  position: relative;
  font-weight: bold;
}
.ul-summary-bookmark > .list-summary-bookmark.on::after {
  position: absolute;
  content: "";
  width: calc(100% - 25px);
  bottom: -18px;
  left: 50%;
  border: 2px solid #0073e6;
  transform: translate(-50%, 0);
}

.style-wrapper-bookmark-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.wrapper-groupcount-orderbox {
  display: flex;
  align-items: center;
  gap: 20px;
}

.txt-bookmarkgroup {
  margin: 0;
  font-weight: bold;
}

.button-order-bookmarkgroup {
  position: relative;
  padding: 10px 30px 10px 10px;
}
.button-order-bookmarkgroup::before {
  position: absolute;
  content: "";
  background-image: url(/images/icon-arrow.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%) rotate(-90deg);
}

.button-edit-bookmarkgroup {
  position: relative;
  padding: 10px 10px 10px 30px;
}
.button-edit-bookmarkgroup::before {
  position: absolute;
  content: "";
  background-image: url(/images/icon-edit.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}

.ul-groupname {
  margin-bottom: 20px;
}
.ul-groupname .li-bookmarkgroup > a {
  display: block;
  padding: 10px 0 10px;
  border-bottom: 1px solid #d3d3d3;
}
.ul-groupname .li-bookmarkgroup.copy {
  margin-bottom: 10px;
}
.ul-groupname .li-bookmarkgroup.copy > button {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #d3d3d3;
}
.ul-groupname .li-bookmarkgroup.copy > button:hover {
  background-color: #e2e2e2;
}

.button-new-group {
  position: sticky;
  width: 100%;
  padding: 20px;
  bottom: 15px;
  border: 0;
  background-color: lightgreen;
}

.style-wrapper-groupname {
  display: flex;
  justify-content: space-between;
}

.style-wrapper-groupname-info {
  display: flex;
  gap: 10px;
}

.container-groupicon {
  width: 50px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 5px;
}
.container-groupicon > img {
  width: 100%;
  height: 100%;
}

.txt-groupname,
.txt-restaurant-count {
  margin: 0;
}

.txt-groupname {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

.txt-restaurant-count {
  text-align: left;
  font-size: 13px;
}

.txt-group-date {
  font-size: 13px;
  align-self: end;
}

.main-bookmarklist {
  overflow: scroll;
  scrollbar-width: none; /* firefox */
  flex-grow: 1; /*긴 화면*/
  /* edge, chrome */
  padding: 20px;
}
.main-bookmarklist::-webkit-scrollbar {
  display: none;
}

.list-restaurant-inbookmark {
  display: flex;
  position: relative;
  border-bottom: 1px solid #d3d3d3;
}
.list-restaurant-inbookmark > a {
  display: block;
  padding: 20px 0 20px;
  width: calc(100% - 40px);
}

.container-restaurant-title-detail > div {
  width: 100%; /* 부모 요소에 크기 고정시켜야 됨 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container-restaurant-title-detail .style-container-title-date {
  margin-bottom: 5px;
}
.container-restaurant-title-detail .txt-title {
  display: inline;
  margin-right: 10px;
  font-weight: bold;
  font-size: 16px;
}
.container-restaurant-title-detail .txt-date {
  font-size: 13px;
}
.container-restaurant-title-detail .txt-distance,
.container-restaurant-title-detail .txt-address {
  font-size: 13px;
}
.container-restaurant-title-detail .txt-distance {
  margin-right: 10px;
}

.button-more {
  position: absolute;
  background-image: url(/images/icon-3dot.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  top: 20px;
  right: 0;
  width: 15px;
  height: 15px;
  transform: rotate(90deg);
  border: 0;
  padding: 0;
}

.container-more-option {
  position: absolute;
  top: 30px;
  right: 5px;
  width: 60px;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  box-shadow: 1px 1px 1px black;
  background-color: white;
}
.container-more-option .list-option {
  padding: 5px;
  cursor: pointer;
}
.container-more-option .list-option:hover {
  background-color: #e2e2e2;
}
.container-more-option .list-option .txt-delete {
  font-size: 13px;
  margin: 0;
}

.mylist-modal-group {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 100vh;
  border: 1px solid #d3d3d3;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 20px;
  background-color: #ffffff;
  z-index: 9999;
  overflow: scroll;
  scrollbar-width: none; /* firefox */
}
.mylist-modal-group::-webkit-scrollbar {
  display: none;
}

.modal-group-order,
.modal-group-add,
.modal-group-move,
.modal-copy,
.modal-likelist-delete {
  position: relative;
}
.modal-group-order > h4,
.modal-group-add > h4,
.modal-group-move > h4,
.modal-copy > h4,
.modal-likelist-delete > h4 {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 20px;
}
.modal-group-order .container-button,
.modal-group-add .container-button,
.modal-group-move .container-button,
.modal-copy .container-button,
.modal-likelist-delete .container-button {
  display: flex;
  gap: 5px;
}
.modal-group-order .container-button > button,
.modal-group-add .container-button > button,
.modal-group-move .container-button > button,
.modal-copy .container-button > button,
.modal-likelist-delete .container-button > button {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #d3d3d3;
}
.modal-group-order .container-button .button-groupname-order.on,
.modal-group-add .container-button .button-groupname-order.on,
.modal-group-move .container-button .button-groupname-order.on,
.modal-copy .container-button .button-groupname-order.on,
.modal-likelist-delete .container-button .button-groupname-order.on {
  border: 1px solid #0073e6;
  color: #0073e6;
}

.button-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  border: 0;
}
.button-close .img-close {
  filter: brightness(0);
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
}

#groupName,
#groupNameForEdit {
  width: 100%;
  padding: 10px;
  border: 1px solid #d3d3d3;
}

.txt-icon-selection {
  font-weight: bold;
}

.wrapper-icon-group {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 60px);
}

.container-icon {
  position: relative;
  cursor: pointer;
}
.container-icon .style-icon {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  padding: 10px;
}
.container-icon .style-icon > img {
  width: 100%;
  height: 100%;
}
.container-icon .style-icon.on {
  outline: 2px solid #0073e6;
}

.button-groupname-complete {
  width: 100%;
  padding: 10px;
  margin: 20px 0 20px;
}

.label-bookmarklist {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.checkbox-bookmarklist {
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #0073e6;
  border-radius: 50%;
  cursor: pointer;
}
.checkbox-bookmarklist:checked {
  background-color: #0073e6;
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23ffffff' d='M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.wrapper-bookmarklist-edit {
  width: calc(100% - 20px);
}
.wrapper-bookmarklist-edit .container-title-category {
  margin-bottom: 10px;
}
.wrapper-bookmarklist-edit .container-title-category .txt-title {
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
}
.wrapper-bookmarklist-edit .container-title-category .txt-title,
.wrapper-bookmarklist-edit .container-title-category .txt-category {
  display: inline;
}
.wrapper-bookmarklist-edit .txt-category,
.wrapper-bookmarklist-edit .txt-address {
  font-size: 13px;
}

.container-button-move {
  display: flex;
  gap: 10px;
}
.container-button-move > button {
  width: 33.3333333333%;
  padding: 10px;
  background-color: #0073e6;
  color: #ffffff;
  border-radius: 5px;
}
.container-button-move > button .txt-copy-del {
  margin-right: 5px;
}
.container-button-move > button:first-child {
  background-color: #ffffff;
  border: 1px solid #0073e6;
  color: #0073e6;
}

.container-button-move.like > button {
  width: 50%;
}

.main-group-list {
  overflow: scroll;
  scrollbar-width: none; /* firefox */
  flex-grow: 1; /*긴 화면*/
  /* edge, chrome */
  padding: 20px;
}
.main-group-list::-webkit-scrollbar {
  display: none;
}

.container-notice {
  color: #0073e6;
  border: 1px solid #0073e6;
  border-radius: 5px;
  margin-bottom: 20px;
}
.container-notice > p {
  margin: 10px;
}

.li-bookmarkgroup.reuse {
  padding: 10px 0 10px;
  border-bottom: 1px solid #d3d3d3;
}

.button-edit-group,
.button-delete-group {
  padding: 0;
  border: 0;
}
.button-edit-group > img,
.button-delete-group > img {
  width: 20px;
  height: 20px;
  filter: brightness(0);
}

.button-delete-group {
  margin-left: 10px;
}
.button-delete-group > img {
  transform: rotate(45deg);
}

.section-404,
.section-500 {
  flex-grow: 1;
  padding-top: 200px;
}
.section-404 h2,
.section-500 h2 {
  font-size: 65px;
  text-align: center;
}
.section-404 h2 > span,
.section-500 h2 > span {
  display: block;
  font-size: 30px;
  margin-top: 25px;
}
.section-404 .link-go-home,
.section-500 .link-go-home {
  display: block;
  width: 230px;
  border: 1px solid #d3d3d3;
  text-align: center;
  margin: 0 auto;
  padding: 20px 0 20px;
}

#buttonGoUp {
  position: absolute;
  bottom: 70px;
  right: 10px;
  width: 60px;
  height: 60px;
}/*# sourceMappingURL=index.css.map */