#buttonGoUp {
    position: absolute;
    bottom: 70px;
    right: 10px;
    width: 60px;
    height: 60px;
}

.button-more {
    position: absolute;
    background-image: icon(dot3);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    top: 20px;
    right: 0;
    width: 15px;
    height: 15px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    border: 0;
    padding: 0;
}

.button-more.commentitem {
    top: 15px;
    right: 10px;
}
.button-more.commentitem.edit {
    width: initial;
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
    background: none;
    font-size: 13px;
    font-weight: bold;
    color: $active-color;
}

.button-more.postitem {
    top: 22px;
    right: 10px;
}

.button-more.reviewitem {
    right: 10px;
}

.container-more-option {
    position: absolute;
    background-color: $edit-delete-notify-color;
    z-index: 9999;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: $padding;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    .list-option {
        padding: 5px;
        cursor: pointer;

        &:hover {
            background-color: $hover-color;
        }

        .txt-delete {
            font-size: 20px;
            margin: 0;
        }
    }
}

.styled-button {
    @include styled-button(20px);

    &:disabled {
        background-color: $disabled-button-color;
    }
}

.styled-button.thin {
    @include styled-button(10px);

    &:disabled {
        background-color: $disabled-button-color;
    }
}

.styled-button.review {
    margin-top: 20px;
}

.styled-button.nickName {
    padding: 10px;
}

.button-map-mode {
    &:first-child {
        margin-right: 10px;
    }
}

.button-map-mode.on {
    background-color: $active-color;
    color: $on-active;
}

.button-category-name.on {
    background-color: $active-color;
    color: $on-active;
}

.button-apply-filter {
    width: 100%;
    border-radius: $default-border-radius;
    padding: 10px;
    border: 1px solid $active-color;
    color: $active-color;
    margin-top: 20px;
}
