.main-community {
    @include extensive-content;
}

.txt-community-nopost {
    @include absolute-center;
}

.container-newpost-selectbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 20px 0;

    .txt-postinfo {
        margin: 0;
    }
}

.wrapper-subject {
    position: relative;

    > label {
        margin-right: 10px;
    }
}

#selectSubject {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px;
    border: 1px solid $border-color;
    width: 140px;
    background-color: transparent;
    z-index: 2222;
}

.wrapper-subject {
    &::after {
        content: '';
        position: absolute;
        background-image: icon(arrow);
        background-size: 15px 15px;
        background-repeat: no-repeat;
        background-position: center center;
        width: 15px;
        height: 15px;
        top: 50%;
        right: 10px;
        -webkit-transform: translate(0, -50%) rotate(-90deg);
        -ms-transform: translate(0, -50%) rotate(-90deg);
        transform: translate(0, -50%) rotate(-90deg);
        z-index: 1111;
    }
}

.wrapper-subject.on {
    &::after {
        -webkit-transform: translate(0, 0) rotate(-270deg);
        -ms-transform: translate(0, 0) rotate(-270deg);
        transform: translate(0, 0) rotate(-270deg);
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        top: 13px;
    }
}

.link-create {
    position: absolute;
    bottom: 80px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    padding: 10px 10px 10px 25px;
    width: 100px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid $border-color;
    border-radius: 20px;
    background: icon('pen', $svg-active) no-repeat 10px center / 20px 20px, $write-button-color;
}

.wrapper-posts {
    > li {
        border-bottom: 1px solid $border-color;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .txt-postitem-title,
    .txt-postitem-content {
        @include one-line-ellipsis;
    }
    .txt-postitem-title {
        font-weight: bold;
    }
    .txt-postitem-content {
        margin: 5px 0 5px;
    }

    .txt-subject-in-community {
        font-size: 13px;
        margin-bottom: 5px;
    }
}

// 좋아요 수 - 댓글 수 - 날짜
.container-post-subinfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
    font-size: 13px;

    .container-count-like,
    .container-count-comment {
        padding-left: 17px;
        background-repeat: no-repeat;
        background-size: 13px 13px;
        background-position: left 0px;
    }
    .container-count-like,
    .container-count-comment {
        background-image: url(/images/icon-heart.svg);
    }

    .container-count-comment {
        background-image: url(/images/icon-comment.svg);
    }
}

// 게시글 읽는 페이지
.main-read-post {
    @include extensive-content;

    .section-post-content {
        padding: $padding;

        .txt-post-title {
            margin: 0;
        }

        .txt-post-owner {
            margin: 5px 0 5px;
        }
    }

    .section-post-comment {
        padding: $padding;

        h3 {
            margin: 0 0 10px;
            font-size: 16px;
        }

        .form-create-comment {
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            #comment {
                -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                padding: 10px 35px 10px 10px;
                resize: none;
                height: 50px;
                line-height: 23px;
                overflow: scroll;
                scrollbar-width: none; /* firefox */
                border: 0;
                background-color: $comment-textarea-color;
                border-radius: $default-border-radius;

                /* edge, chrome */
                &::-webkit-scrollbar {
                    display: none;
                }
            }

            > button {
                position: absolute;
                width: 20px;
                height: 20px;
                top: 50%;
                right: 10px;
                -webkit-transform: translate(0, -50%);
                -ms-transform: translate(0, -50%);
                transform: translate(0, -50%);
                background-image: icon(paperPlane, $svg-active);
                background-repeat: no-repeat;
                background-size: 20px 20px;
                background-color: transparent;
                border: 0;
            }
        }

        .li-commentitem {
            position: relative;
        }
    }

    .wrapper-commentitem {
        border: 1px solid $border-color;
        border-radius: $comment-border-radius;
        padding: 15px;
        margin: 10px 0 10px;

        .container-owner-date {
            margin-bottom: 10px;

            .txt-owner {
                font-weight: bold;
                display: inline;
                margin-right: 10px;
            }

            .txt-date {
                display: inline;
                font-size: 13px;
                color: $side-txt-color;
            }
        }

        .txt-content {
            line-height: 23px;
        }
    }
}

#editCommentTextarea {
    resize: none;
    width: 100%;
    padding: 10px 35px 10px 10px;
    height: 50px;
    line-height: 23px;
    overflow: scroll;
    scrollbar-width: none; /* firefox */
    border-radius: $default-border-radius;
    border: 1px solid $border-color;

    /* edge, chrome */
    &::-webkit-scrollbar {
        display: none;
    }
}

// 글쓰기 페이지
.main-create-post {
    @include extensive-content;

    .form-create-post {
        padding: 20px;

        .label-create-post-title {
            height: 50px;

            input {
                width: 100%;
                border: 1px solid $border-color;
                border-top: none;
                border-left: none;
                border-right: none;
                padding: $padding;
            }
        }

        .label-create-post-content {
            display: block;
            height: 400px;
        }
    }

    // 말머리 재사용
    .wrapper-subject.create {
        #selectSubject {
            width: 100%;
        }
    }
}

// wysiwyg
.rdw-editor-main {
    border: 1px solid $border-color;
    height: 400px !important;
    cursor: text;
}

.DraftEditor-root {
    height: auto !important;
}

.wysiwyg-readonly {
    cursor: default;
}

// 게시글 검색
$inputHeight: 45px;

.community-search-main {
    @include extensive-content;
    padding: 0 10px 10px;

    .container-search-input {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 5px;
        margin-bottom: 10px;

        #communitySearchResult {
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            height: $inputHeight;
            padding: 0 10px 0;
            border: 1px solid $border-color;
            width: 100%;
            @include styled-input;
            height: 45px;
        }

        #communitySearchResult + button {
            width: 55px;
            font-weight: bold;
            border-radius: $default-border-radius;
        }
    }

    .container-search-select {
        width: 100%;

        #communitySearchSelect {
            width: inherit;
            height: $inputHeight;
            border: 1px solid $border-color;
            border-radius: $default-border-radius;
            padding: 0 6px 0;
        }
    }

    .result-community-detail {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: $padding;
        border-bottom: 1px solid $border-color;
        background-color: white; // 흰색 안하면 투명
        margin-top: 20px;

        .txt-total-search {
            margin: 0;
        }

        .wrapper-selectbox-in-result {
            color: $label-txt-color;
        }
    }
}

// 수정-삭제-신고 모달
.modal-edit-delete-notify {
    display: none;

    > ul {
        text-align: center;

        > li {
            padding: 10px;
            font-size: 20px;
            font-weight: bold;

            &:hover {
                background-color: $hover-color;
                border-radius: $modal-hover-border-radius;
                cursor: pointer;
            }
        }
    }
}

.modal-edit-delete-notify.on {
    display: block;
}

// 공지사항 article
.article-notice {
    padding: $padding;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: 10px;

    &::-webkit-scrollbar {
        height: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $active-color;
        border: 3px solid $active-color;
        border-radius: 15px;
    }
}

.ul-notice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(100% * 3);
    gap: 20px;
}

.li-notice {
    width: calc(100% / 3);
    background-color: $notice-post-color;
    border-radius: $default-border-radius;

    > a {
        display: block;
        padding: $padding 10px $padding;

        .txt-title {
            width: 100%;
            margin: 0;
            font-weight: bold;

            @include one-line-ellipsis;

            > em {
                font-style: normal;
            }
        }
    }
}

#searchItem {
    width: 100%;
    @include styled-input;
    height: 40px;
    padding: 10px;
}

// 범위, 정렬 셀렉트
.select-community-search {
    border: 1px solid $border-color;
    margin-left: 10px;
}

label[for='orderBySelect'] {
    margin-left: 10px;
}

#communitySearchResult {
    width: 100%;
    @include styled-input;
    border: none;
}
