.main-my {
    @include extensive-content;
}

.ul-title-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    border-bottom: 2px solid $border-color;
    padding: 15px 0 15px;

    > li {
        width: 100%;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
    }

    > .list-title.on {
        position: relative;
        font-weight: bold;

        &::after {
            position: absolute;
            content: '';
            width: calc(100% - 25px);
            bottom: -18px;
            left: 50%;
            border: 2px solid $active-color;
            -webkit-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
        }
    }
}

.txt-restaurant-in-my {
    margin-top: 0;

    em {
        font-style: normal;
        font-weight: bold;
    }
}

.ul-summary-community {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    border-bottom: 2px solid $border-color;
    padding: 15px 0 15px;

    > li {
        width: 100%;
        text-align: center;
        font-size: 16px;
        cursor: pointer;

        > p {
            margin: 0;
        }
    }

    > .list-summary-community.on {
        position: relative;
        font-weight: bold;

        &::after {
            position: absolute;
            content: '';
            width: calc(100% - 25px);
            bottom: -18px;
            left: 50%;
            border: 2px solid $active-color;
            -webkit-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
        }
    }
}

// 프로필
.ul-profile {
    padding: $padding;

    > li {
        border: 1px solid $border-color;
        border-radius: $default-border-radius;
        margin-bottom: 10px;
    }

    > li:last-child {
        margin-bottom: 0;
    }
}

.style-wrapper-profile {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    gap: 15px;
}

// 프로필 사진
.wrapper-profile-image {
    position: relative;
    width: 70px;
    height: 70px;
}

// 프로필 사진 우측
.wrapper-id-bookmark {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 15px;

    .container-id-nick {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        gap: 10px;

        .txt-profile-userId {
            font-size: 16px;
            font-weight: bold;
        }

        .txt-profile-nickName {
            font-size: 13px;
        }
    }

    .container-profile-bookmark-like {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 13px;

        .num-profile-bookmark {
            margin-right: 5px;
        }
    }
}

.container-notice.profile {
    font-size: 13px;
    margin: 20px 20px 0;
}

.container-profile-img {
    width: 70px;
    height: 70px;

    > img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 1px solid $border-color;
        -o-object-fit: cover;
        object-fit: cover;
    }
}

.list-account {
    padding: 10px;

    > p {
        margin: 10px 0 15px 0;
        font-weight: bold;
        font-size: 18px;
    }

    .list-edit {
        font-size: 16px;
        margin-bottom: 15px;
        cursor: pointer;
    }
}

.form-edit-nickName {
    position: relative;
}

.num-count-nickName {
    position: absolute;
    margin: 0;
    top: 50%;
    right: 7px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    font-size: 13px;
    text-align: right;
}

#editNickNameInput {
    @include styled-input;
    width: 100%;
    height: auto;
    padding: 10px;
}

.container-notice.edit-nickName {
    border: 0;
    padding: 0;
    margin: 10px 0;

    > em {
        margin: 0;
        font-size: 13px;
    }
}

.wrapper-profile-notice {
    > a {
        &::before {
            background-image: url(/images/icon-notice.svg);
        }
    }
}

.wrapper-profile-inquiry {
    > a {
        &::before {
            background-image: url(/images/icon-inquiry.svg);
        }
    }
}

.wrapper-profile-FAQ {
    > a {
        &::before {
            background-image: url(/images/icon-FAQ.svg);
        }
    }
}

// 로그아웃
.style-wrapper-logout {
    padding: $padding;
}

// 커뮤니티 활동
.wrapper-summary-community {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

// 비밀번호 변경 모달
.form-current-password,
.form-new-password {
    margin-bottom: 20px;

    .txt-notice {
        font-weight: bold;
    }

    .container-notice.password {
        border: 0;

        > em {
            margin: 0;
            font-size: 13px;
        }
    }

    input {
        margin-bottom: 10px;
    }

    input:last-child {
        margin-bottom: 0;
    }
}

#readOnlyUserId,
#prevPassword,
#nextPassword,
#confirmNextPassword {
    @include styled-input;
    padding: 10px;
    width: 100%;
}

#readOnlyUserId:focus {
    outline: 0;
}
