#map {
    height: 100%;
}

.main-map {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

#miniMap {
    height: 300px;
    z-index: 1111;
}

.wrapper-restaurant-detail {
    @include extensive-content;
}

.section-primary {
    padding: 20px;

    .container-rating,
    .container-bookmark-like-share {
        margin: 15px 0 15px;
    }
}

// 상세정보 페이지의 북마크-좋아요-공유 버튼
.container-bookmark-like-share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
}

.button-bookmark,
.button-like,
.button-share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100px;
    padding: 10px;
    gap: 3px;
}

.img-bookmark,
.img-like {
    -webkit-filter: invert(81%) sepia(0%) saturate(0%) hue-rotate(71deg) brightness(102%) contrast(100%);
    filter: invert(81%) sepia(0%) saturate(0%) hue-rotate(71deg) brightness(102%) contrast(100%);
}

.img-bookmark {
    width: 18px;
}

.img-like {
    width: 22px;
}

.img-like.review {
    width: 20px;
}

.img-share {
    width: 22px;
}

.img-bookmark.on {
    -webkit-filter: invert(65%) sepia(60%) saturate(6205%) hue-rotate(130deg) brightness(94%) contrast(104%);
    filter: invert(65%) sepia(60%) saturate(6205%) hue-rotate(130deg) brightness(94%) contrast(104%);
}

.img-like.on {
    -webkit-filter: invert(69%) sepia(75%) saturate(7109%) hue-rotate(339deg) brightness(113%) contrast(103%);
    filter: invert(69%) sepia(75%) saturate(7109%) hue-rotate(339deg) brightness(113%) contrast(103%);
}

.restaurant-cert {
    background-color: lightgreen;
    margin-right: 10px;
}

.restaurant-category {
    background-color: lightgoldenrodyellow;
}

.restaurant-cert,
.restaurant-category {
    padding: 5px;
    display: inline-block;
    font-size: 13px;
}
.txt-restaurant-title {
    font-size: 35px;
    margin: 0;
    margin: 5px 0 10px;
}

.txt-restaurant-address {
    word-break: keep-all;
    line-height: 1.5;
}

.img-copy {
    width: 13px;
}

// 별점
.container-rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

// 위치 섹션
.section-location {
    .style-wrapper-location-address {
        padding: $padding;
    }
}

// 리뷰 섹션

.wrapper-review {
    padding: $padding;

    .list-review:not(:last-child) {
        margin-bottom: 20px;
    }

    .container-reviewitem {
        border: 1px solid $border-color;
        border-radius: $default-border-radius;
        overflow: hidden;

        .style-wrapper-reviewitem {
            position: relative;
            padding: $padding;
        }

        .style-wrapper-reviewitem.only-text {
            padding: 0 20px 0;
        }
    }

    .txt-review-owner {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 5px;
    }

    .txt-review-date {
        font-size: 13px;
    }

    .wrapper-review-img {
        position: relative;

        .container-review-img {
            overflow: hidden;
            background-color: $preview-color;
            width: calc((422px - #{$padding * 2}) * 3);
            height: calc(422px - #{$padding * 2});

            .txt-count-img {
                position: absolute;
                bottom: 0;
                right: 0;
                padding: 5px;
                margin: 0;
                background-color: $container-on-image;
                color: $on-opacity;
            }

            .button-move-img {
                position: absolute;
                top: 50%;
                background-image: icon(arrow, $svg-img-arrow);
                background-size: 20px 20px;
                width: 30px;
                height: 30px;
                background-color: $container-on-image;
                background-position: center center;
                background-repeat: no-repeat;
                border-radius: 50%;
                border: 0;
            }

            .button-move-img.prev {
                left: 15px;
            }

            .button-move-img.next {
                right: 15px;
                -webkit-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                transform: rotate(180deg);
            }

            img {
                float: left;
                width: calc(422px - #{$padding * 2});
                height: inherit;
                -o-object-fit: cover;
                object-fit: cover;
            }
        }
    }

    .txt-review-content {
        margin-bottom: 20px;
    }
    .button-review-like {
        padding: 0;
        border: none;
    }
}

// 리뷰의 좋아요, 댓글 버튼
.container-like-comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.container-button-txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 5px;
    font-size: 13px;
}

.button-review-comment {
    background-image: icon('comment', $svg-disabled);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    border: 0;
}

.button-review-comment + span {
    font-size: 13px;
    vertical-align: center;
}

.style-container-write-review {
    padding: $padding;
}

.style-wrapper-no-review {
    text-align: center;
    background-color: lavender;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 45px;
    margin-top: 50px;

    .txt-no-review {
        font-size: 50px;
    }

    p {
        font-size: 16px;
    }
}

.wrapper-pagination {
    padding: $padding;

    > ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        .button-prev-page,
        .button-next-page {
            background-image: icon(arrow);
            background-size: 20px 20px;
            background-position: center center;
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            border: 0;
        }

        .button-next-page {
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
        }

        .button-prev-page:disabled,
        .button-next-page:disabled {
            background-image: icon(arrow, $svg-disabled);
        }

        .container-pagination {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            .button-page {
                border: 0;
            }

            .button-page.on {
                font-weight: bold;
            }
        }
    }
}

// 리뷰 작성 페이지
.section-add-picture,
.section-write-review {
    padding: 0;
    margin: 0;
    border: none;
}

#restaurantInput {
    height: 50px;
    border: 0;
    margin: 20px 0;
    font-size: 18px;
    font-weight: bold;
}

#txtReview {
    display: block;
    resize: none;
    width: 100%;
    height: 100px;
}

#restaurantInput,
#txtReview {
    border-radius: $default-border-radius;
    background-color: $input-color;
    padding: 10px;
}

.container-picture {
    display: grid;
    grid-template-columns: 135px 135px;
    grid-template-rows: 135px 135px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 15px;

    > li {
        position: relative;
        border: 1px solid $border-color;
    }

    .list-picture {
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .list-add-picture {
        cursor: pointer;
    }

    .list-add-picture::before {
        position: absolute;
        content: '';
        background: icon(plus) no-repeat center center / 30px 30px;
        width: 30px;
        height: 30px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .list-add-picture.reset::before {
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .list-picture {
        background-image: icon(image, $svg-img-picture);

        img,
        source {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
}

// 지도 UI

.wrapper-result-in-radius.reuse-in-region {
    position: initial;
    height: 280px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $active-color;
        border: 3px solid $active-color;
        border-radius: 15px;
    }

    .ul-restaurant-in-radius.reuse-in-region {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        > li:first-child {
            margin-left: 0;
        }

        > li {
            width: 100% !important;
            border: 0;
            border-bottom: 1px solid $border-color;
            cursor: pointer;
        }

        .container-img {
            width: 50px;
            height: 50px;
        }
    }
}
// 하단
.wrapper-result-in-radius {
    position: absolute;
    bottom: 80px;
    z-index: 1111;

    .wrapper-swiper {
        position: relative;
        max-width: 422px;
        overflow: hidden;
    }

    .container-swiper {
        position: relative;
    }

    .ul-restaurant-in-radius {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        > li:first-child {
            margin-left: 10px;
        }

        > li {
            background-color: $background-modal;
            border: solid $border-color;
            border-radius: 20px;

            > div {
                position: relative; // 거리 기준
                width: inherit;
                height: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                padding: 10px;
                gap: 10px;
            }
        }
    }

    .container-img {
        width: 70px;
        height: 70px;

        img {
            width: inherit;
            height: 100%;
        }
    }

    .container-distance {
        position: absolute;
        padding: 3px 5px 5px;
        bottom: 3px;
        right: 10px;

        > span {
            color: $active-color;
            font-size: 13px;
        }
    }

    .container-right {
        width: 250px;
    }

    .txt-title {
        font-weight: bold;
    }

    .txt-title,
    .txt-address {
        margin-bottom: 5px;
    }

    .txt-cert,
    .txt-category,
    .txt-address,
    .txt-distance,
    .txt-rating,
    .txt-count-comment {
        font-size: 13px;
    }

    .txt-cert {
        color: $cert-txt-color;
        font-weight: bold;
    }

    .container-rating-count {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .txt-rating,
    .txt-count-comment {
        padding-left: 17px;
    }

    .txt-rating {
        background: icon(star, $svg-star) no-repeat left center / 15px 15px;
        -ms-flex-preferred-size: 50px;
        flex-basis: 50px;
    }

    .txt-count-comment {
        background: icon(pen) no-repeat left center / 13px 13px;
    }
}

.txt-result-in-radius {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    top: -10px;
    left: 10px;
    background-color: $background-modal;
    font-weight: bold;
    padding: 10px;
    margin: 0;
    border-radius: $default-border-radius;
    font-size: 13px;
}

// 위치권한 모달
.container-emoji-notice {
    text-align: center;

    .emoji {
        font-size: 30px;
        margin-bottom: 20px;
    }

    > em {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
    }
}

// 결과없음 모달
.mini-modal-group {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1111;
    background-color: $no-result-on-map;
    padding: $padding;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: $default-border-radius;
    font-weight: bold;
    color: $txt-on-container;
}

.mini-modal-group.on {
    display: block;
}

.modal-no-result {
    display: none;
}

.modal-no-result.on {
    display: block;
    position: relative;

    > p {
        margin: 0;
    }
}

button[aria-label='식당 검색 버튼'] {
    border: 0;
    font-size: 20px;
    padding: 0;
}

// 검색 결과
.main-search-result {
    @include extensive-content;
    padding: $padding;
}

.wrapper-result-in-radius.reuse-in-search {
    position: initial;

    .ul-restaurant-in-radius.reuse-in-search {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        > li:first-child {
            margin-left: 0;
        }

        > li {
            width: 100% !important;
            border: 0;
            border-bottom: 1px solid $border-color;
            cursor: pointer;
        }

        .container-img {
            width: 50px;
            height: 50px;
        }
    }
}

// 상단 버튼
.wrapper-map-control-button {
    position: absolute;
    top: 80px;
    z-index: 1111;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    width: 100%;
    padding: 0 10px;
    justify-content: space-between;

    button {
        padding: 10px;
        font-size: 13px;
        border: 0;
        border-radius: $default-border-radius;
        font-weight: bold;
        -webkit-box-shadow: $map-button-box-shadow;
        box-shadow: $map-button-box-shadow;
    }
}

// 지도 상단 버튼
.button-move-to-my {
    position: absolute;
    bottom: 255px;
    right: 10px;
    z-index: 1111;
    background: icon(radar, $svg-on-active) no-repeat center center / 20px 20px;
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: $default-border-radius;
    background-color: $active-color;
    -webkit-box-shadow: $map-button-box-shadow;
    box-shadow: $map-button-box-shadow;
}

// 반경 선택 모달
.wrapper-select-radius {
    text-align: center;

    .txt-selected-radius {
        font-size: 18px;
        font-weight: bold;
    }

    .form-radius {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        gap: 10px;

        .container-radio-radius {
            > input {
                margin-right: 5px;
            }
        }
    }
}

// 업종 필터 모달
.wrapper-checkbox-category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 15px;

    input {
        margin-right: 5px;
    }

    label {
        font-size: 16px;
    }

    .checkbox-category-filter {
        width: 15px;
        height: 15px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 1px solid $active-color;
        border-radius: 50%;
        cursor: pointer;

        &:checked {
            background-color: $active-color;
            background-image: icon(check, $svg-on-active);
            background-repeat: no-repeat;
        }
    }
}

.container-button-all-in-modal {
    position: absolute;
    top: 0;
    left: 90px;
}

.button-all-category {
    width: 80px;
    border-radius: $default-border-radius;
    padding: 5px;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: bold;
}

.button-all-category:first-child {
    margin-right: 5px;
}

// 검색 결과 필터
.container-filter,
.container-sort {
    position: relative;
    border: 1px solid $border-color;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;

    .container-button-all {
        position: absolute;
        top: 10px;
        right: 10px;

        > button:first-child {
            margin-right: 5px;
        }
    }

    .button-apply-filter,
    .container-button-all > button {
        padding: 5px;
        font-size: 13px;
        font-weight: bold;
        border-radius: $default-border-radius;
        margin: 0;
    }
    .button-apply-filter {
        position: absolute;
        top: 10px;
        left: 70px;
        width: 50px;
    }
}
.wrapper-checkbox-category.reuse-in-result {
    gap: 5px;

    input {
        margin-right: 3px;
    }

    label {
        font-size: 13px;
        vertical-align: top;
        font-weight: bold;
    }
}

.txt-filter-name {
    display: block;
    font-style: normal;
    font-size: 13px;
    font-weight: bold;
    margin: 5px 0 20px;
}

.container-check-cert {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.container-sort {
    label {
        font-size: 13px;
        font-weight: bold;
        margin-right: 35px;
    }

    select {
        font-size: 13px;
        width: 100px;
        border: 0;
        font-weight: bold;
    }
}
