#map {
    height: 100%;
}

.main-map {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

#miniMap {
    height: 300px;
    z-index: 1111;
}

.wrapper-restaurant-detail {
    @include extensive-content;
}

.section-primary {
    padding: 20px;

    .container-rating,
    .container-bookmark-like-share {
        margin: 15px 0 15px;
    }
}

// 상세정보 페이지의 북마크-좋아요-공유 버튼
.container-bookmark-like-share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
}

.button-bookmark,
.button-like,
.button-share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100px;
    padding: 10px;
    gap: 3px;
}

.img-bookmark,
.img-like {
    -webkit-filter: invert(81%) sepia(0%) saturate(0%) hue-rotate(71deg) brightness(102%) contrast(100%);
    filter: invert(81%) sepia(0%) saturate(0%) hue-rotate(71deg) brightness(102%) contrast(100%);
}

.img-bookmark {
    width: 18px;
}

.img-like {
    width: 22px;
}

.img-like.review {
    width: 20px;
}

.img-share {
    width: 22px;
}

.img-bookmark.on {
    -webkit-filter: invert(65%) sepia(60%) saturate(6205%) hue-rotate(130deg) brightness(94%) contrast(104%);
    filter: invert(65%) sepia(60%) saturate(6205%) hue-rotate(130deg) brightness(94%) contrast(104%);
}

.img-like.on {
    -webkit-filter: invert(69%) sepia(75%) saturate(7109%) hue-rotate(339deg) brightness(113%) contrast(103%);
    filter: invert(69%) sepia(75%) saturate(7109%) hue-rotate(339deg) brightness(113%) contrast(103%);
}

.restaurant-cert {
    background-color: lightgreen;
    margin-right: 10px;
}

.restaurant-category {
    background-color: lightgoldenrodyellow;
}

.restaurant-cert,
.restaurant-category {
    padding: 5px;
    display: inline-block;
    font-size: 13px;
}
.txt-restaurant-title {
    font-size: 35px;
    margin: 0;
    margin: 5px 0 10px;
}

.txt-restaurant-address {
    word-break: keep-all;
    line-height: 1.5;
}

.img-copy {
    width: 13px;
}

// 별점
.container-rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

// 위치 섹션
.section-location {
    .style-wrapper-location-address {
        padding: $padding;
    }
}

// 리뷰 섹션

.wrapper-review {
    padding: $padding;

    .list-review:not(:last-child) {
        margin-bottom: 20px;
    }

    .container-reviewitem {
        border: 1px solid $border-color;
        border-radius: $default-border-radius;
        overflow: hidden;

        .style-wrapper-reviewitem {
            position: relative;
            padding: $padding;
        }

        .style-wrapper-reviewitem.only-text {
            padding: 0 20px 0;
        }
    }

    .txt-review-owner {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 5px;
    }

    .txt-review-date {
        font-size: 13px;
    }

    .wrapper-review-img {
        position: relative;

        .container-review-img {
            overflow: hidden;
            background-color: $preview-color;
            width: calc((422px - #{$padding * 2}) * 3);
            height: calc(422px - #{$padding * 2});

            .txt-count-img {
                position: absolute;
                bottom: 0;
                right: 0;
                padding: 5px;
                margin: 0;
                background-color: rgba(1, 1, 1, 0.5);
                color: $on-opacity;
            }

            .button-move-img {
                position: absolute;
                top: 50%;
                background-image: icon(arrow, $svg-img-arrow);
                background-size: 20px 20px;
                width: 30px;
                height: 30px;
                background-color: rgba(1, 1, 1, 0.5);
                background-position: center center;
                background-repeat: no-repeat;
                border-radius: 50%;
                border: 0;
            }

            .button-move-img.prev {
                left: 15px;
            }

            .button-move-img.next {
                right: 15px;
                -webkit-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                transform: rotate(180deg);
            }

            img {
                float: left;
                width: calc(422px - #{$padding * 2});
                height: inherit;
                -o-object-fit: cover;
                object-fit: cover;
            }
        }
    }

    .txt-review-content {
        margin-bottom: 20px;
    }
    .button-review-like {
        padding: 0;
        border: none;
    }
}

// 리뷰의 좋아요, 댓글 버튼
.container-like-comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.container-button-txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 5px;
    font-size: 13px;
}

.button-review-comment {
    background-image: icon('comment', $svg-disabled);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    border: 0;
}

.button-review-comment + span {
    font-size: 13px;
    vertical-align: center;
}

.style-container-write-review {
    padding: $padding;
}

.style-wrapper-no-review {
    text-align: center;
    background-color: lavender;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 45px;
    margin-top: 50px;

    .txt-no-review {
        font-size: 50px;
    }

    p {
        font-size: 16px;
    }
}

.wrapper-pagination {
    padding: $padding;

    > ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        .button-prev-page,
        .button-next-page {
            background-image: icon(arrow);
            background-size: 20px 20px;
            background-position: center center;
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            border: 0;
        }

        .button-next-page {
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
        }

        .button-prev-page:disabled,
        .button-next-page:disabled {
            background-image: icon(arrow, $svg-disabled);
        }

        .container-pagination {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            .button-page {
                border: 0;
            }

            .button-page.on {
                font-weight: bold;
            }
        }
    }
}

// 리뷰 작성 페이지
.section-add-picture,
.section-write-review {
    padding: 0;
    margin: 0;
    border: none;
}

#restaurantInput {
    height: 50px;
    border: 0;
    margin: 20px 0;
    font-size: 18px;
    font-weight: bold;
}

#txtReview {
    display: block;
    resize: none;
    width: 100%;
    height: 100px;
}

#restaurantInput,
#txtReview {
    border-radius: $default-border-radius;
    background-color: $input-color;
    padding: 10px;
}

.container-picture {
    display: grid;
    grid-template-columns: 135px 135px;
    grid-template-rows: 135px 135px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 15px;

    > li {
        position: relative;
        border: 1px solid $border-color;
    }

    .list-picture {
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .list-add-picture {
        cursor: pointer;
    }

    .list-add-picture::before {
        position: absolute;
        content: '';
        background: icon(plus) no-repeat center center / 30px 30px;
        width: 30px;
        height: 30px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .list-add-picture.reset::before {
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .list-picture {
        background-image: icon(image, $svg-img-picture);

        img,
        source {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
}

// 지도 UI

// 상단 버튼
.wrapper-map-control-button {
    position: absolute;
    top: 80px;
    z-index: 9999;
}

// 하단
.wrapper-result-in-radius {
    position: absolute;
    bottom: 80px;
    z-index: 9999;

    .wrapper-swiper {
        position: relative;
        max-width: 422px;
        overflow: hidden;
    }

    .container-swiper {
        position: relative;
    }
    .ul-restaurant-in-radius {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        > li:first-child {
            margin-left: 10px;
        }

        > li {
            background-color: $background-modal;
            border: solid $border-color;

            > a {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                padding: 10px;
                gap: 10px;
            }
        }
    }

    .container-img {
        -ms-flex-preferred-size: 100px;
        flex-basis: 100px;
        height: 100px;

        > img {
            width: 100px;
            height: 100px;
        }
    }

    .container-right {
        width: 250px;
    }

    .txt-title {
        font-weight: bold;
    }

    .txt-address,
    .txt-distance,
    .txt-rating,
    .txt-count-comment {
        font-size: 13px;
    }

    .container-rating-count {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .txt-rating,
    .txt-count-comment {
        padding-left: 17px;
    }

    .txt-rating {
        background: icon(star, $svg-star) no-repeat left center / 15px 15px;
        -ms-flex-preferred-size: 50px;
        flex-basis: 50px;
    }

    .txt-count-comment {
        background: icon(pen) no-repeat left center / 13px 13px;
    }
}

.txt-result-in-radius {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    left: 10px;
    background-color: $background-modal;
    font-weight: bold;
    padding: 5px 7px 5px;
    margin: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 13px;
}
